* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "montserrat", sans-serif;
    height: 100vh;
    background-image: url("./bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #2148C0;
    box-sizing: border-box;
    position: relative;
}

.content-container {
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cart img{
    display: block;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

#username {
    margin-top: 50px;
}

#password {
    margin-top: 20px;
}

.content-container input[type="text"] {
    border: 1px solid white;
    outline: none;
    border-radius: 4px;
    height: 40px;
    width: 300px;
    padding-left: 50px;
    background-color: #1a44c2;
    color: white;
    line-height: 20px;
    font-size: 14px;
    font-weight: 100;
}

.icon {
    position: absolute;
    padding: 10px;
    min-width: 40px;
    color: white;
}


.content-container input[type="button"] {
    font-weight: bolder;
    font-size: 16px;
    height: 40px;
    width: 300px;
    margin-top: 40px;
    border: 1px solid white;
    border-radius: 4px;
    color:  #2148C0;
    cursor: pointer;
}

#login:hover {
    background: transparent;
    color: white;
  }

.content-container p {
    margin-top: 10px;
    text-align: end;
    font-size: 16px;
    color: white;
}

#lock {
    margin-top: 20px;
}

#user {
    margin-top: 50px; 
}


